name: Update Playlist
on:
  schedule:
    - cron: '0 */6 * * *' # Обновлять каждые 6 часов
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          pip install playwright
          playwright install chromium
      - name: Run script
        run: python grabber.py
        env:
          LOGIN: ${{ secrets.SMOTRET_LOGIN }}
          PASSWORD: ${{ secrets.SMOTRET_PASSWORD }}
      - name: Commit and Push
        run: |
          git config --global user.name "Bot"
          git config --global user.email "bot@github.com"
          git add playlist_8f2d9k1l.m3u
          git commit -m "Update tokens" || exit 0
          git push
          git commit -m "Update tokens" || exit 0
          git push
